body {
	background-color: rgba(192,192,192,0.3);
}

#main{
	background-color: rgba(255, 255, 255, 1);
	border-radius: 10px;
	text-align: center;
}

#title{
	color: red;
	font-size: xx-large;
	padding: 0%;
	margin-bottom: 0%;
}

#menu{
	//list-style: none;
	//padding: 0%;
	//display: inline;
	font-size: small;
	padding: 2px 5px 2px 5px;
}

#menu a {
	//display: block;
    //padding: 2px 5px 2px 5px;
    //float: left;
    margin: 0 5px 0 5px;
}


#searcher{
	margin-top: 2em;
	margin-left: 5%;
}

#box{
	margin-top: .2em;
	width: 75%;
	margin-bottom: 1em;
}

.inv{
	text-decoration: none;
}